################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/eCommerce/.vs
/eCommerce/eCommerce.ApiGateway/bin/Debug/net8.0
/eCommerce/eCommerce.ApiGateway/obj
/eCommerce/eCommerce.Auth/obj
/eCommerce/eCommerce.Auth.API/bin/Debug/net8.0
/eCommerce/eCommerce.Auth.API/obj
/eCommerce/eCommerce.Auth.Application/bin/Debug/net8.0
/eCommerce/eCommerce.Auth.Application/obj
/eCommerce/eCommerce.Auth.Domain/bin/Debug/net8.0
/eCommerce/eCommerce.Auth.Domain/obj
/eCommerce/eCommerce.Auth.Infrastructure/bin/Debug/net8.0
/eCommerce/eCommerce.Auth.Infrastructure/obj
/eCommerce/eCommerce.Auth.Persistence/obj
/eCommerce/eCommerce.Order.Api/bin/Debug/net8.0
/eCommerce/eCommerce.Order.Api/obj
/eCommerce/eCommerce.Order.Domain/obj
/eCommerce/eCommerce.Payment.Domain/obj
/eCommerce/eCommerce.Product.Api/obj
/eCommerce/eCommerce.Product.Domain/obj
/eCommerce/obj/Docker
/.vs/eCommerceBackend/v17
/.vs
/eCommerce/eCommerce.Order.Application/obj
/eCommerce/eCommerce.Payment.Application/obj
/eCommerce/eCommerce.Product.Application/obj
/eCommerce/eCommerce.Product.Persistence/obj
/eCommerce/eCommerce.Product.Application/bin/Debug/net8.0
/eCommerce/eCommerce.Payment.Application/bin/Debug/net8.0
/eCommerce/eCommerce.Payment.Domain/bin/Debug/net8.0
/eCommerce/eCommerce.Product.Domain/bin/Debug/net8.0
/eCommerce/eCommerce.Order.Application/bin/Debug/net8.0
/eCommerce/eCommerce.Order.Domain/bin/Debug/net8.0
/eCommerce/eCommerce.Product.Persistence/bin/Debug/net8.0
/eCommerce/eCommerce.Product.Api/bin/Debug/net8.0
/eCommerce/eCommerce.Payment.Infrastructure/obj
/eCommerce/eCommerce.Product.Infrastructure/obj
/eCommerce/eCommerce.Order.Infrastructure/obj
/eCommerce/eCommerce.Order.Persistence/obj
/eCommerce/eCommerce.Payment.Persistence/obj
/eCommerce/eCommerce.Common/obj
/eCommerce/eCommerce.Common/bin/Debug/net8.0
/eCommerce/eCommerce.Order.Infrastructure/bin/Debug/net8.0
/eCommerce/eCommerce.Order.Persistence/bin/Debug/net8.0
/eCommerce/eCommerce.Payment.Infrastructure/bin/Debug/net8.0
/eCommerce/eCommerce.Payment.Persistence/bin/Debug/net8.0
/eCommerce/eCommerce.Payment.Persistence/bin/Debug/net8.0/eCommerce.Payment.Persistence.deps.json
/eCommerce/eCommerce.Product.Infrastructure/bin/Debug/net8.0
/eCommerce/eCommerce.Common.Messaging/obj/Debug/net8.0
/eCommerce/eCommerce.Common.Messaging/obj/Release/net8.0
/eCommerce/eCommerce.Common/bin/Release/net8.0
/eCommerce/eCommerce.Product.Api/bin/Release/net8.0
/eCommerce/eCommerce.Product.Application/bin/Release/net8.0
/eCommerce/eCommerce.Product.Domain/bin/Release/net8.0
/eCommerce/eCommerce.Product.Persistence/bin/Release/net8.0
